/* .headingbox1{
    background-color: yellow;
}
#box1{
    background-color: blue;
    width: 500px;

    p{
        background-color: green;
    }
} */


.card{
    background-color: antiquewhite;
}
.productProduct{
    width: 200px;
}