a.link-tag:link{
    color: blue;
    text-decoration: none;
}

a.link-tag:visited{
color: red;
}

#loginBTN{
    background-color: yellow;
    /* border: 2px ; */
    /* border-style: solid; */
    /* border-color: transparent; */
    
    padding: 0 1em 0 1em;
    border-radius: 1em;
    cursor: pointer;
}
#loginBTN:hover{
    /* background-color: orange; */
    background-color: transparent;
    border-color: aqua; 
    /* border: 2px solid; */

      

}

p{
    border: solid black;
    border-width: 1em .5em 0 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 1em;
    display: inline;
}
